@import "../../util/variables.scss";

// carousel
.carousel {
    height: 30rem;
}

.carousel-caption {
    display: flex;
    justify-content: space-between;
    margin: .5rem;
}

.carousel-indicators {
    display: none;
}

// carousel-items
.project-info-header {
    display: flex;
    justify-content: space-between;
    margin: 1.25rem 10.7rem 0 10.7rem;
}

.project-info-description {
    margin: .25rem 10.7rem 0 10.7rem;
}

// buttons
.project-action-buttons {
    margin-top: 3px;

    .btn,
    .btn:visited {
        text-decoration: none;
        background-color: $projectBtn;
        color: $faded-blue;
        border: none;
    
        &:hover,
        &:focus {
            background-color: $projectBtn-hover;
            color: $light-blue
        }
    }

    a {
        margin-left: 1.25rem;
        font-size: 1.2rem;
        color: $faded-white;
        text-decoration: none;

        &:hover {
            color: $white;
        }
    }
}

