@import "../../util/variables.scss";

$carousel-height: 15rem;

.project-content {

    // carousel
    .carousel {
        height: $carousel-height;
        margin-top: 3rem;
    }

    .carousel-caption {
        display: flex;
        justify-content: space-between;
        margin: .5rem;
    }

    .carousel-indicators {
        display: none;
    }

    // carousel-items
    .carousel-image-wrapper {
        height: $carousel-height;

        img {
            height: $carousel-height;
        }
    }

    .item--project-info {
        padding: .75rem;

        .project-info-header {
            display: flex;
            flex-direction: column;
            margin-top: .5rem;
            margin-bottom: auto;
            font-size: 1.5rem !important;
        }
    
        .project-info-description {
            margin: .25rem;
    
            p {
                margin-top:.5rem;
            }
        }
    
        // carousel buttons
        .project-action-buttons {
            display: flex;
        
    
            .btn,
            .btn:visited {
                text-decoration: none;
                background-color: $projectBtn;
                color: $faded-blue;
                border: none;
            
                &:hover,
                &:focus {
                    background-color: $projectBtn-hover;
                    color: $light-blue
                }
            }
    
            a {
                font-size: 1rem;
                color: $faded-white;
                text-decoration: none;
                margin-right: 1rem;
    
                &:hover {
                    color: $white;
                }
            }
        }
    }

    

    @media (min-width: 400px) {

    }

    @media (min-width: 800px) {
        .project-info-header {
            margin: 1.25rem 10.7rem 0 10.7rem;
            flex-direction: row;
        }

        .project-info-description {
            margin: .25rem 10.7rem 0 10.7rem;
        }
    }

}



