// FONTS
$logo-font: 'Condiment', cursive;
$main-font: 'Comfortaa', cursive;


// Colors
$light-blue: #0093E9;
$secondary-light-blue: #80D0C7;
$dark-blue: #001fff80;
$faded-blue: rgba($color: #0093E9, $alpha: .5);
$faded-dark-blue: rgba($color: #001fff80, $alpha: .3);

$white: whitesmoke;
$faded-white: rgba($color: $white, $alpha: .7);

$projectBtn: rgba($color: whitesmoke, $alpha: .5);
$projectBtn-hover: rgba($color: whitesmoke, $alpha: .7);

// Gradients
$bg-gradient: linear-gradient(160deg, $secondary-light-blue 0%, $light-blue 100%);