// FONTS
$logo-font: 'Condiment', cursive;
$main-font: 'Comfortaa', cursive;


// Colors
$light-blue: #0093E9;
$dark-blue: rgba(0, 31, 255, 0.5);
$white: whitesmoke;

// Gradients
$bg-gradient: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);