.skills-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    height: 25rem;
    margin-top: 20%;
    padding: 1.5rem 2rem 0 2rem;

    i {
        font-size: 4.5rem;
    }
}

@media (min-width: 750px) {
    .skills-content {
        margin-top: 10%;
        padding: 1.5rem 6rem 0 6rem;

        i {
            font-size: 10rem;
        }
    }
}

@media (min-width: 1000px) {
    .skills-content {
        padding: 1.5rem 10rem 0 10rem;
        margin-top: 1%;
    }
}