@import '../../util/variables.scss';

.home-content {
    padding-top: 30%;
    text-align: center;

    .home--name {
        font-family: $logo-font;
        font-size: 3.5rem;
        margin: 0;
    }

    

    .home--icon-wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        padding-top: 7%;
        
        .icon-link {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .icon-label {
                font-size: .8rem;
            }
        }

    }
}

@media (min-width: 750px) {
    .home-content {
        padding: 15%;

        .home--name {
            font-size: 7rem;
        }
    
        h1 {
            font-size: 3rem;
        }
    }
}

@media (min-width: 1024px) {
    .home-content {
        padding-top: 7%;

        .home--name {
            font-size: 9rem;
        }
    }
}