@import '../../util/variables.scss';

.header-logo {
    font-family: $logo-font !important;
    font-size: 3rem;
    color: white !important
}
.header-container {
    padding: 0;
    margin: 4rem 0;
    height: 100%;
}

.nav-link.active {
    color: rgba(255, 255, 255, 0.9) !important;
}
