@import '../../util/variables.scss';


.header-container {
    padding: 0;
    margin: 1rem 0;
    height: 100%;

    .nav-link {
        color: $faded-dark-blue;
        font-size: .8rem;
    }

    .nav-link.active {
        color: rgba(255, 255, 255, 0.9) !important;
    }    

    .header-logo {
        font-family: $logo-font !important;
        font-size: 3rem;
        color: white !important;
        display: none;
    }

    .navbar {
        justify-content: center;
    }
}

@media (min-width: 750px) {
    .header-container {
        .nav-link {
            font-size: .9rem;
        }
        
        .header-logo {
            display: inline-block;
            font-size: 3rem;
        }
    
        .navbar {
            justify-content: space-between;
        }
    }
}

@media (min-width: 1000px) {
    .header-container {
        .nav-link {
            font-size: 1rem;
        }

        .header-logo {
            font-size: 4rem;
        }
    }
}