@import "../../util/variables.scss";

.footer-container {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100vw;
    color: $faded-dark-blue;
    font-size: .75rem;
}