// fonts
@import "./util/fonts.scss";

// variables
@import "./util/variables.scss";

// page transition animations
@import "./util/transitions.scss";

// custom styles
@import "./components/header/header.scss";
@import "./components/home/home.scss";
@import "./components/about/about.scss";
@import "./components/skills/skills.scss";
@import "./components/projects/projects.scss";
@import "./components/contact/contact.scss";
@import "./components/footer/footer.scss";
@import "./components/content-body/content-body.scss";

// universal styles
body {
    font-family: $main-font;
    color: $white;
    background-color: $light-blue;
    background-image: $bg-gradient;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}
